html, body{
    margin: 0;
}
.oferta{
   position: absolute;
   height: 200px;
   z-index: 2;
   border: none;
}

.fondo{
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    z-index: 1;
}